/ %script{:src => "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject_src.js"}
%h1 Your browser fingerprint:
%h2
  %i#fp
:javascript
  var d1 = new Date();
  var fp = new Fingerprint2();
  fp.get(function(result) {
    var d2 = new Date();
    console.log("Time took to calculate the fingerprint: " + (d2 - d1) + "ms");
    console.log(result);
    document.getElementById("fp").innerHTML = result;
  });
