%section#features.text-center.features
  .container
    .section-heading
      %h2 FEATURES
      %hr
    %p Enthusiastically productivate intermandated niches vis-a-vis multimedia based results. Objectively redefine leveraged synergy without backward-compatible core competencies. Dynamically administrate cross-platform models before goal-oriented core competencies. Professionally enable cross-media e-commerce and revolutionary web services.
    %ul.list-unstyled.feature-slides
      %li
        .left
          %ul.list-unstyled.feature-list
            %li
              %h3 SIMPLE &AMP; ELEGANT
              %p Quickly benchmark transparent communities via just in time outsourcing. Holisticly drive bricks-and-clicks innovation through.
              %i.icon-star
            %li
              %h3 HANDCRAFTED DESIGN
              %p
                Assertively grow premium schemas after
                = succeed "." do
                  %a{:href => "#"} stand-alone core competencies
                Professionally mesh virtual products and future-proof.
              %i.icon-pencil
            %li
              %h3 BUILT WITH BOOTSTRAP 3
              %p Completely engage economically sound intellectual capital before extensive communities. Synergistically reconceptualize equity invested meta-services.
              %i.icon-support
        .right
          %img{:alt => "App Features", :src => "assets/img/feature-app-iphonescr1.png"}
      %li
        .left
          %ul.list-unstyled.feature-list
            %li
              %h3 EASY TO CUSTOMIZE
              %p
                Conveniently create
                %a{:href => "#"} mission-critical infrastructures
                whereas impactful products. Holisticly reinvent real-time opportunities with intermandated processes.
              %i.icon-settings
            %li
              %h3 ULTRA RESPONSIVE
              %p Rapidiously actualize next-generation meta-services with high-quality core competencies. Assertively deliver cutting-edge leadership and equity invested.
              %i.icon-screen-smartphone
            %li
              %h3 DOCUMENTATION &amp; FREE SUPPORT
              %p Completely engage economically sound intellectual capital before extensive communities. Synergistically reconceptualize equity invested meta-services.
              %i.fa.fa-life-ring
        .right
          %img{:alt => "App Features", :src => "assets/img/feature-app-iphonescr2.png"}