/ HOW-IT-WORKS SECTION
%section#howitworks.how-it-works
  .container
    .row
      .col-md-6
        .page-video-wrapper
          %iframe{:height => "501", :src => "//player.vimeo.com/video/40056491", :width => "890"}
      .col-md-6
        .section-heading.left-aligned
          %h2 SO, HOW IT WORKS?
          %hr
        %p
          Professionally
          %a{:href => "#"} orchestrate impactful
          processes without resource maximizing human capital. Efficiently transition collaborative methodologies whereas resource-leveling experiences. Dynamically strategize. Interactively revolutionize cutting-edge users rather than mission-critical methodologies.
        %p Assertively communicate excellent strategic theme areas with distinctive e-tailers. Uniquely engineer optimal action items and focused leadership skills. Dynamically enhance.
/ END HOW-IT-WORKS SECTION