%section#screenshots.text-center.screenshots
  .section-heading
    %h2 SCREENSHOTS
    %hr
  .app-screenshots
    %div
      %img{:alt => "App Screenshot", :src => "assets/img/app-scr/app-scr1.png"}/
    %div
      %img{:alt => "App Screenshot", :src => "assets/img/app-scr/app-scr2.png"}/
    %div
      %img{:alt => "App Screenshot", :src => "assets/img/app-scr/app-scr3.png"}/
    %div
      %img{:alt => "App Screenshot", :src => "assets/img/app-scr/app-scr4.png"}/
    %div
      %img{:alt => "App Screenshot", :src => "assets/img/app-scr/app-scr1.png"}/
    %div
      %img{:alt => "App Screenshot", :src => "assets/img/app-scr/app-scr2.png"}/
/ END INFINITE SCREENSHOTS SECTION

/ CALL-TO-ACTION SECTION
%section.text-center.call-to-action
  .container
    %h2.hide DOWNLOAD NOW
    .store-buttons
      %a.btn{:href => "#"}
        %img{:alt => "App Store", :src => "assets/img/btn-appstore-dark.png"}/
      %a.btn{:href => "#"}
        %img{:alt => "App Store", :src => "assets/img/btn-googleplay-dark.png"}/
/ END CALL-TO-ACTION SECTION

/ FEATURED-ON SECTION
%section.featuredon.text-center
  .container
    .section-heading
      %h2 AS FEATURED ON
      %hr
    %ul.list-inline.featuredon-list
      %li
        %a{:href => "#"}
          %img{:alt => "Featured Logo", :src => "assets/img/featuredon-logo1.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "Featured Logo", :src => "assets/img/featuredon-logo2.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "Featured Logo", :src => "assets/img/featuredon-logo3.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "Featured Logo", :src => "assets/img/featuredon-logo4.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "Featured Logo", :src => "assets/img/featuredon-logo5.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "Featured Logo", :src => "assets/img/featuredon-logo6.png"}/
/ END FEATURED-ON SECTION
